name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  check-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - name: run site build
        run: make site

  check-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ">=1.20.5"

      - name: fail if the schema has changed
        run: |
          make limbo-schema.json
          git diff --exit-code -- limbo-schema.json

      - name: fail if schema.go has changed
        run: |
          make -C harness/gocryptox509 schema.go
          git diff --exit-code -- harness/gocryptox509/schema.go

  check-harnesses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ">=1.20.5"

      - name: check that harnesses build
        run: make build-harnesses -j

  all-checks-pass:
    if: always()

    needs:
      - check-site
      - check-schema
      - check-harnesses

    runs-on: ubuntu-latest

    steps:
      - name: check jobs
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
