name: Refresh online testcases

on:
  workflow_dispatch:
  schedule:
    # tuesday every other month at 4PM UTC
    - cron: "0 16 * */2 2"

jobs:
  refresh:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for branch creation
      pull-requests: write # for PR creation

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          enable-cache: true

      - name: regenerate online testcases
        run: make online-cases

      - name: create PR
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "[BOT] update online testcases"
          branch: update-online-testcases
          branch-suffix: timestamp
          title: "[BOT] update online testcases"
          body: |
            This is an automated pull request, updating the cached online testcases
            in Limbo.

            Please review manually before merging.
          add-paths: limbo/_assets/online
          assignees: "woodruffw"
          reviewers: "woodruffw"
          draft: true
