name: Refresh BetterTLS testcases

on:
  workflow_dispatch:
  push:
    branches:
      - ww/bettertls
  schedule:
    # tuesday every other month at 5PM UTC
    - cron: "0 17 * */2 2"

jobs:
  refresh:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for branch creation
      pull-requests: write # for PR creation

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check out BetterTLS
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: Netflix/bettertls
          ref: master
          path: bettertls
          persist-credentials: false

      - name: Build BetterTLS JSON
        run: |
          go build -C bettertls/test-suites/cmd/bettertls/ -o /tmp/bettertls
          /tmp/bettertls export-tests | jq . > /tmp/bettertls.json

          if [[ -f limbo/_assets/bettertls.json ]]; then
            # Only update if the betterTlsRevision has changed
            old_revision=$(jq -r .betterTlsRevision limbo/_assets/bettertls.json)
            new_revision=$(jq -r .betterTlsRevision /tmp/bettertls.json)

            if [[ "${old_revision}" != "${new_revision}" ]]; then
              mv /tmp/bettertls.json limbo/_assets/bettertls.json
            else
              echo "::notice::BetterTLS did not change, not updating"
            fi
          else
            mv /tmp/bettertls.json limbo/_assets/bettertls.json
          fi

      - name: create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "[BOT] update BetterTLS testcases"
          branch: update-BetterTLS-testcases
          branch-suffix: timestamp
          title: "[BOT] update BetterTLS testcases"
          body: |
            This is an automated pull request, updating the cached BetterTLS testcases
            in Limbo.

            Please review manually before merging.
          add-paths: limbo/_assets/bettertls.json
          assignees: "woodruffw"
          reviewers: "woodruffw"
          draft: true
