name: Refresh online testcases

on:
  workflow_dispatch:
  schedule:
    # tuesday every other month at 4PM UTC
    - cron: "0 16 * */2 2"

jobs:
  refresh:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for branch creation
      pull-requests: write # for PR creation

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - name: regenerate online testcases
        run: make online-cases

      - name: create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "[BOT] update online testcases"
          branch: update-online-testcases
          branch-suffix: timestamp
          title: "[BOT] update online testcases"
          body: |
            This is an automated pull request, updating the cached online testcases
            in Limbo.

            Please review manually before merging.
          add-paths: limbo/_assets/online
          assignees: "woodruffw"
          reviewers: "woodruffw"
          draft: true
