name: Refresh online testcases

on:
  workflow_dispatch:
  schedule:
    # tuesday every other month at 4PM UTC
    - cron: "0 16 * */2 2"

jobs:
  refresh:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for branch creation
      pull-requests: write # for PR creation

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true

      - name: regenerate online testcases
        run: make online-cases

      - name: create PR
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: "[BOT] update online testcases"
          branch: update-online-testcases
          branch-suffix: timestamp
          title: "[BOT] update online testcases"
          body: |
            This is an automated pull request, updating the cached online testcases
            in Limbo.

            Please review manually before merging.
          add-paths: limbo/_assets/online
          assignees: "woodruffw"
          reviewers: "woodruffw"
          draft: true
