name: Testcase regression detection

on:
  pull_request:

jobs:
  regressions:
    runs-on: ubuntu-24.04-arm
    permissions:
      # Needed for regression comment generation.
      issues: write
      pull-requests: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: true

      - uses: ./.github/actions/run-harnesses
        id: run-harnesses

      - name: run regression checks
        run: make run ARGS="regression"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

