name: Testcase regression detection

on:
  pull_request:

jobs:
  regressions:
    runs-on: ubuntu-24.04-arm
    permissions:
      # Needed for regression comment generation.
      issues: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - uses: ./.github/actions/run-harnesses
        id: run-harnesses

      - name: run regression checks
        run: make run ARGS="regression"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

