name: Testcase regression detection

on:
  pull_request:

jobs:
  regressions:
    runs-on: ubuntu-24.04-arm
    permissions:
      # Needed for regression comment generation.
      issues: write
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - uses: ./.github/actions/run-harnesses
        id: run-harnesses

      - name: run regression checks
        run: make run ARGS="regression"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

