name: Testcase regression detection

on:
  pull_request:

jobs:
  regressions:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - uses: ./.github/actions/run-harnesses
        id: run-harnesses

      - name: run regression detection
        run: make run ARGS="regression --detect-only --output regression-data.json"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: upload regression artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: regression-data
          path: regression-data.json
          retention-days: 7
